extends ../layout

block content
    h1.
         #{title}
    div
            a(href='/customers/new') New
    ul
        - each customer, i in customers
            li
                = customer.name
                = customer.badge
                = customer.dob
                = customer.isloved
                = customer._id
                form(action='/customers/#{customer._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/customers/#{customer._id}/edit') Edit
                p
                    a(href='/customers/#{customer._id}') Show